*{
    box-sizing:border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}


body{
font-family: 'Montserrat', sans-serif;
font-weight:400;
color:#ff9494;
letter-spacing:0.05em;
font-size:14px;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
  }